   
{% extends 'layout2.html' %}

{% block content_iner%}  
    <!--/ menu  -->
            <div class="row ">
                <div class="col-lg-8">

                    <div class="white_card card_height_100 mb_20">
                        <div class="white_card_header">
                            <div class="box_header m-0">
                                <div class="main-title">
                                    <h3 class="m-0">增加一个新的自选策略</h3>
                                </div>
                            </div>
                        </div>
                        <div class="white_card_body">

                            <h6 class="card-subtitle mb-2">策略标题</h6>
                                <div class="form-group">
                                    <label>设置本金(元)</label>
                                    <input class="form-control" v-model="capital_money">
                                    <small class="form-text text-muted"> <font color="#ee2302">注意：</font>自选策略本金不做参考</small>
                                </div>
                                <div class="form-group">
                                    <label>策略标题</label>
                                    <input class="form-control" v-model="title">
                                </div>
                                <div class="form-group">
                                    <label>策略描述</label>
                                    <textarea v-model="description" class="form-control" aria-label="With textarea" style="min-height:100px;"></textarea>
                                </div>
                                <button class="btn btn-primary" @click='addstrategy'>添加</button>
                        </div>

                    </div>
 




                </div>
            </div>

{% endblock %}
{%block vuedata %}

                capital_money:10000000000,
                title:'',
                description:''
 
{%endblock%}


{%block vuemounted %}
{%endblock%}

{% block vuewatch %} 
    //监控logined变化
    logined (){
     var that = this 
     axios.get(datahost+'/gs-userinfo/me')
        .then(function(response){
            that.capital_money = response.data.capital_money
            that.intro = response.data.intro
        })
        
        
    }

{%endblock%}

{%block vuemethods %}
            addstrategy(){
                var that = this
                if (that.logined == 0){
                    window.location.href="login.html"
                }
    

                axios
                .post(datahost+'/gs-strategies',{
                    capital_money:that.capital_money,
                    title:that.title,
                    categorytype:2,    //自选
                    description:that.description
                })
                .then(function(response){
                    alert('完成')
                    window.location.href="index.html"
                })

            }


{%endblock%}
    
