   
{% extends 'layout2.html' %}

{% block content_iner%}  
    <!--/ menu  -->
            <div class="row" style="min-height:800px;">



            <div class="display col-lg-8">

              <div class="white_card mb_20" style="padding:10px;">
                        <div class="white_card_header">
                            <div class="box_header m-0">
                                <div class="main-title">
                                    <h3 class="m-0"><template v-if="gsstrategy">{{gsstrategy.title}} - </template>股票列表</h3>
                                </div>
                            </div>
                        </div>


            <table class="table table-bordered  no-footer dtr-inline"  border="1">
            <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">name</th>
            <th scope="col">股数</th>
            <th scope="col">价格</th>
            <th scope="col">涨幅
           <a @click="openopt()">

            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-bar-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M6 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L12.293 7.5H6.5A.5.5 0 0 0 6 8zm-2.5 7a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5z"/>
            </svg>
            </a> </th>
            <th scope="col" v-if="opened">操作</th>
            </tr>
            </thead>
             <tbody>
  <tr v-for="(item,index) in stocks">
                <td>{{index+1}}</td>
                <td ><a v-bind:href="'http://finance.sina.com.cn/realstock/company/'+item.code+'/nc.shtml'" target=_blank>{{item.name}}</a></td>
                <td ><a v-bind:href="'https://gu.qq.com/'+item.code" target=_blank ><font color=blue>{{item.count}}</font></a></td>
                <td >成本:{{item.buyprice}}</p>现价:{{item.close}}</td>
                <td ><font v-if="item.rise>=0" color="#ef4136">+{{item.rise}}</font> <font v-else color="#00ef00">{{item.rise}}</font></td>
                <td v-if="opened">
                   <a @click="setsell(item.id,item.code)" > <i class="fa fa-times"></i></a>
                </td>
                </tr>
                </tbody>
              </table>
            </div> <!--white_card -->
           </div> <!--display-->






                <div class="col-lg-4">

                    <div class="white_card mb_20">
                        <div class="white_card_header">
                            <div class="box_header m-0">
                                <div class="main-title" @click="buyedopt">
                                    <h3 class="m-0"><i class="fa fa-plus" style="padding-right:10px;color:#ed3434"></i> 购买股票</h3>
                                </div>
                            </div>
                        </div>
                        <div class="white_card_body" v-if="buyed">

                            <h6 class="card-subtitle mb-2">股票代码</h6>
                                <div class="form-group">
                                    <label>输入股票代码-{{buyname}}</label>
                                    <input class="form-control" @blur="getinfo" v-model="buycode">
                                     <small class="form-text text-muted"> <font color="#ee2302">格式:</font>sh601012,sz000100</small>
                                </div>
                                <div class="form-group">
                                    <label>价格</label>
                                    <input class="form-control" v-model="buyprice" disabled>
                                     <small class="form-text text-muted"> 价格会自动获取</small>
                                </div>
                                <div class="form-group">
                                    <label>股</label>
                                    <input class="form-control" v-model="buycount">
                                     <small class="form-text text-muted"> 股票购买每次是100的整数倍:100，200等</small>
                                </div>
                                <button class="btn btn-primary" @click='addstock'>购买</button>
                        </div>

                    </div> <!--white_card-->


                    <div class="white_card mb_20">
                        <div class="white_card_header">
                            <div class="box_header m-0">
                                <div class="main-title" @click="selledopt">
                                    <h3 class="m-0"><i class="fa fa-times" style="padding-right:10px;color:#ed3434"></i> 卖出股票</h3>
                                </div>
                            </div>
                        </div>
                        <div class="white_card_body" v-if="selled">

                            <h6 class="card-subtitle mb-2">股票代码</h6>
                                <div class="form-group">
                                    <label>输入股票代码-{{sellname}}</label>
                                    <input class="form-control" disabled v-model="sellcode">
                                </div>
                                <div class="form-group">
                                    <label>价格</label>
                                    <input class="form-control" v-model="sellprice" disabled>
                                     <small class="form-text text-muted"> 价格会自动获取</small>
                                </div>
                                <div class="form-group">
                                    <label>股</label>
                                    <input class="form-control" v-model="sellcount">
                                     <small class="form-text text-muted"> 股票卖出每次是100的整数倍:100，200等</small>
                                </div>
                                <button class="btn btn-primary" @click='sellstock'>卖出</button>
                        </div>


                  </div> <!--white_card-->

                </div> <!--col lg 4-->


            </div> <!--row -->

<div style="z-index: 9999; position:fixed; right: 50px; bottom: 50px;">
<button class="btn btn-primary" @click="refresh">刷</button>
</div>
{% endblock %}


{%block jscommon%} 

{%endblock%}


{%block vuedata %}
                opened:0,
                buyed:0,
                selled:0,
                gsstrategy:0,
                stocks:"",
                stockstr:"",
                buycode:'',
                buyname:'',
                buyprice:'',
                buycount:'00',
                sellcode:'',
                sellname:'',
                sellprice:'',
                sellcount:'00',
                sellid:''
 
{%endblock%}


{%block vuemounted %}
{%endblock%}

{% block vuewatch %} 
    //监控logined变化
    logined (){
     var that = this
     var cateid = getUrlParam('cateid') 
     axios.get('/gs-strategies/stocklist/'+cateid)
        .then(function(response){
            that.gsstrategy = response.data.gsstrategy
            that.stocks = response.data.stocks
            for (i=0;i<that.stocks.length;i++){
                that.stockstr = that.stockstr + "," + that.stocks[i].code 
                that.stocks[i].close = 0
                that.stocks[i].rise = 0
            }
            
            that.$nextTick(async function(){

                var datas  = await getstockinfo(that.stockstr)
                for (i=0;i<that.stocks.length;i++){
                    that.stocks[i].close = datas[i][1]
                    that.stocks[i].rise = datas[i][2]
                }
            })
        })
        .catch(error => {
            alert("策略数据错误")
            window.location.href="/gushen/index.html"
        }) 
        
    }

{%endblock%}

{%block vuemethods %}
            async addstock(){
                var that = this
                var cateid = getUrlParam('cateid')
                if (that.buycount % 100 != 0 || that.buycount < 100){
                    alert("股票必须够买整100的倍数,至少100股")
                    return 
                } 

                await that.getinfo() //获取当前价格
                axios
                .post('/gs-categorystocks',{
                    code:that.buycode,
                    count:that.buycount,
                    buyprice:that.buyprice,
                    categorytype:"1",//1策略，2自选
                    name:that.buyname,
                    categoryid:cateid,
                })
                .then(function(response){
                    alert('完成')
                    window.location.reload()
                })

            },
            setsell(id,code){
                var that = this
                that.sellid = id
                that.selled = 1
                that.sellcode = code
                that.getsellinfo()
            },
            async sellstock(){

                var that = this
                var cateid = getUrlParam('cateid')
                if (that.sellcount % 100 != 0 || that.sellcount < 100){
                    alert("股票必须够买整100的倍数,至少100股")
                    return 
                } 

                await that.getsellinfo() //获取当前价格

                axios
                .post('/gs-categorystocks/sell',{
                    code:that.sellcode,
                    count:that.sellcount,
                    sellprice:that.sellprice,
                    categorytype:"1",//1策略，2自选
                    name:that.sellname,
                    categoryid:cateid,
                    id:that.sellid
                })
                .then(function(response){
                    alert('完成')
                    window.location.reload()
                })


            },
            async getinfo(){
                var that = this
                that.buyprice = 0 
                that.buyname = "" 
                var datas = await getstockinfo(that.buycode)
                if (datas[0][0] != 0){
                    that.buyname = datas[0][0]
                    that.buyprice = datas[0][1]
                }
            },
            async getsellinfo(){
                var that = this
                var datas = await getstockinfo(that.sellcode)
                if (datas[0][0] != 0){
                    that.sellname = datas[0][0]
                    that.sellprice = datas[0][1]
                }
            }, 
  
            openopt(){
                if (this.opened == 0){
                    this.opened = 1
                } else {
                    this.opened = 0
                }
            
            },
            buyedopt(){
                if (this.buyed == 0){
                    this.buyed = 1
                } else {
                    this.buyed = 0
                }

            },
            selledopt(){
                if (this.selled == 0){
                    this.selled = 1
                } else {
                    this.selled = 0
                }

            },
           refresh(){
                vat that = this
                var datas  = await getstockinfo(that.stockstr)
                for (i=0;i<that.stocks.length;i++){
                    that.stocks[i].close = datas[i][1]
                    that.stocks[i].rise = datas[i][2]
                }
           },

{%endblock%}
    
