{% extends 'layout.html' %}

{% block main_body %}    

<section class="main_content" style="padding-left: 10px;" id="app">
      <!--/ menu  -->
    <div class="main_content_iner ">
        <div class="container-fluid p-0">
            <div class="row justify-content-center">
              <div class="col-12">
                <div class="dashboard_header mb_50">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="dashboard_header_title">
                                <h3> 欢迎使用金浪Klang</h3>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="dashboard_breadcam text-right">
                                <p><a href="index.html">金浪</a> <i class="fas fa-caret-right"></i> 注册</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <div class="col-lg-12">
                    <div class="white_box mb_30">
                        <div class="row justify-content-center">
                          
                            <div class="col-lg-4">
                                <!-- sign_in  -->
                                <div class="modal-content cs_modal">
                                    <div class="modal-header justify-content-center theme_bg_1">
                                        <h5 class="modal-title text_white">注册</h5>
                                    </div>
                                    <div class="modal-body">
                                        <form>
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="姓名" v-model="username">
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="邮箱" v-model="email">
                                            </div>
                                            <div class="form-group">
                                                <input type="password" class="form-control" placeholder="密码" v-model="password">
                                            </div>
                                            <a href="#" class="btn_1 full_width text-center" @click="reg_send">确认</a>
                                            <p>已有账户?<a href="login.html">登录</a></p>
                                            <div class="text-center">
                                                <a href="#" data-toggle="modal" data-target="#forgot_password" data-dismiss="modal" class="pass_forget_btn">忘记密码</a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- footer part -->
<div class="footer_part">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="footer_iner text-center">
                    <p>2021 © 金浪 - Designed by <a href="#"> <i class="ti-heart"></i> </a><a href="#"> Dashboard</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
{% endblock %}


{% block externjs %}
<script>

     const VueApp = {
        data() {
            return {
                username:'',
                email:'',
                password:'',
            }
        },
    
        created() {
        },
    
        mounted () {
       },
        methods: {
        // These methods won't trigger a watcher because we changed only a property of Object/Array,
        // not the Object/Array itself
           reg_send(){
             var that = this
            axios
                .post('/auth/local/register', {
                    username: that.username,
                    email: that.email,
                    password: that.password,
                 })
                .then(function(response){
                    console.log('User profile', response.data.user);
                    console.log('User token', response.data.jwt);

                    window.location.href='index.html'
                })
                  .catch(error => {
                    // Handle error.
                    alert("请检查用户名邮箱是否注册过？")
                });
            
           } 
        }
      }//VueApp
      window.vue = Vue.createApp(VueApp).mount('#app')


</script>
{% endblock %}
