{% extends 'layout.html' %}

{% block main_body %}
 <div id="app">
  <div class="page-titles">
    <div class="row">
      <div class="col-lg-8 col-md-6 col-12 align-self-center">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb mb-0 d-flex align-items-center">
            <li class="breadcrumb-item">
              <a href="index.html" class="link"><i class="ri-home-3-line fs-5"></i></a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              多因子回测平台
            </li>
          </ol>
        </nav>
        <h1 class="mb-0 fw-bold">选择因子</h1>
      </div>
      <div class="
          col-lg-4 col-md-6
          d-none d-md-flex
          align-items-center
          justify-content-end
        ">
        <select class="form-select theme-select border-0" aria-label="Default select example">
          <option value="1">Today 23 March</option>
          <option value="2">Today 24 March</option>
          <option value="3">Today 25 March</option>
        </select>
        <a href="javascript:void(0)" class="btn btn-info d-flex align-items-center ms-2">
          <i class="ri-add-line me-1"></i>
          Add New
        </a>
      </div>
    </div>
  </div> <!--page-titles-->


  <div class="container-fluid">
    <!-- ============================================================= -->
    <!-- Start Page Content -->
    <!-- ============================================================= -->
    <div class="row">

      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
        <h4 class="mt-0 mb-1">
          策略组合 (当前只有两个策略)
        </h4>
        <h6 class="text-muted">
         
        </h6>
        <div class="row mt-4">
          <div class="col-md-3">
            <input name="group5" type="radio" id="radio_30" class="
                with-gap
                material-inputs material-inputs
                radio-col-red
              " checked="" v-model="select_strategy" value="0">
            <label for="radio_30">MACD金叉策略</label>
          </div>
          <div class="col-md-3">
            <input name="group5" type="radio" id="radio_31" class="
                with-gap
                material-inputs material-inputs
                radio-col-pink
              "  v-model="select_strategy" value="1">
            <label for="radio_31">倍量柱买入法</label>
          </div>
          <div class="col-md-3">
            <input name="group5" type="radio" id="radio_32" class="
                with-gap
                material-inputs material-inputs
                radio-col-purple
              " disabled>
            <label for="radio_32">三一位买入法</label>
          </div>
          <div class="col-md-3">
            <input name="group5" type="radio" id="radio_33" class="
                with-gap
                material-inputs material-inputs
                radio-col-deep-purple
              " disabled>
            <label for="radio_33">主线擒龙</label>
          </div>
          <div class="col-md-3">
            <input name="group5" type="radio" id="radio_34" class="
                with-gap
                material-inputs material-inputs
                radio-col-indigo
              " disabled>
            <label for="radio_34">海龟交易</label>
          </div>
          <div class="col-md-3">
            <input name="group5" type="radio" id="radio_35" class="
                with-gap
                material-inputs material-inputs
                radio-col-blue
              " disabled>
            <label for="radio_35">macd底部背离</label>
          </div>
         
        </div>
      </div>
    </div>
  </div> <!--col-sm-12 -->

      <!--div class="col-sm-12">
        <div class="card">
          <div class="card-body">

            <h4 class="mb-1">财务因子(当前没有数据)</h4>
            <h6 class="text-muted mt-0">
                
            </h6>
            <div class="row mt-4">
              <div class="col-md-3">
                <input type="checkbox" class="material-inputs" id="basic_checkbox_1" checked="">
                <label for="basic_checkbox_1">流通市值超过100亿 
                    <div class="
                    btn btn-danger btn-circle btn-sm
                    d-inline-flex
                    align-items-center
                    justify-content-center
                  ">A</div></label>
              </div>
              <div class="col-md-3">
                <input type="checkbox" class="material-inputs" id="basic_checkbox_2" >
                <label for="basic_checkbox_2">ROE 优良</label>
              </div>

              <div class="col-md-3">
                <input type="checkbox" class="material-inputs" id="basic_checkbox_3" >
                <label for="basic_checkbox_3">行业龙头</label>
              </div>

              <div class="col-md-3">
                <input type="checkbox" class="material-inputs" id="basic_checkbox_4" >
                <label for="basic_checkbox_4">季度盈利涨超10%</label>
              </div>

            </div--> <!-- row mt-4 -->

            <!--h4 class="mt-5 mb-1">指标因子(当前没有数据)</h4>
            <h6 class="text-muted mt-0">
              
            </h6>
            <div class="row mt-4">
              <div class="col-md-3">
                <input type="checkbox" id="md_checkbox_1" class="material-inputs chk-col-red" checked="">
                <label for="md_checkbox_1">MACD
                    <div class="
                    btn btn-info btn-circle btn-sm
                    d-inline-flex
                    align-items-center
                    justify-content-center
                  ">B</div>
                </label>
              </div>
              <div class="col-md-3">
                <input type="checkbox" id="md_checkbox_2" class="material-inputs chk-col-pink" >
                <label for="md_checkbox_2">筹码峰(SCR)</label>
              </div>
              <div class="col-md-3">
                <input type="checkbox" id="md_checkbox_3" class="material-inputs chk-col-purple" checked="">
                <label for="md_checkbox_3">倍量</label>
              </div>
              <div class="col-md-3">
                <input type="checkbox" id="md_checkbox_4" class="material-inputs chk-col-deep-purple" >
                <label for="md_checkbox_4">MA30</label>
              </div>
              <div class="col-md-3">
                <input type="checkbox" id="md_checkbox_5" class="material-inputs chk-col-indigo" checked="">
                <label for="md_checkbox_5">MA60
                    <div class="
                    btn btn-info btn-circle btn-sm
                    d-inline-flex
                    align-items-center
                    justify-content-center
                  ">B</div>
                </label>
              </div>
              <div class="col-md-3">
                <input type="checkbox" id="md_checkbox_6" class="material-inputs chk-col-blue" >
                <label for="md_checkbox_6">MA120</label>
              </div>

            </div--> <!-- row mt-4 -->

            <!-- end row -->
            <!--h4 class="mt-5 mb-1">
              行业指标(当前没有数据)
            </h4>
            <h6 class="text-muted mt-0">
              
            </h6>
            <div class="row mt-4">
              <div class="col-md-3">
                <input type="checkbox" id="md_checkbox_21" class="material-inputs filled-in chk-col-red" checked="">
                <label for="md_checkbox_21">行业涨幅较好</label>
              </div>
              <div class="col-md-3">
                <input type="checkbox" id="md_checkbox_22" class="material-inputs filled-in chk-col-pink" checked="">
                <label for="md_checkbox_22">行业有资金流入</label>
              </div>
              <div class="col-md-3">
                <input type="checkbox" id="md_checkbox_23" class="material-inputs filled-in chk-col-purple" checked="">
                <label for="md_checkbox_23">连涨3天</label>
              </div>
            </div--> <!--row mt-4 -->

          <!--/div--> <!--card-body -->
        <!--/div--> <!--card-->
      <!--/div--> <!-- col-sm-12 -->

      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
            <!--h4 class="mb-1">组选择(当前没有数据)</h4>
            <div class="row mt-4">
              <div class="col-md-3">
                <input name="group1" class="material-inputs" type="radio" id="radio_1" checked="">
                <label for="radio_1">所有A股</label>
              </div>
              <div class="col-md-3">
                <input name="group1" class="material-inputs" type="radio" id="radio_2">
                <label for="radio_2">沪市</label>
              </div>
              <div class="col-md-3">
                <input name="group1" type="radio" class="with-gap material-inputs" id="radio_3">
                <label for="radio_3">深证</label>
              </div>
              <div class="col-md-3">
                <input name="group1" type="radio" id="radio_4" class="with-gap material-inputs">
                <label for="radio_4">创业板</label>
              </div>
             
            </div-->
            <h4 class="mt-0 mb-1">个性化组</h4>
            <div class="row mt-4">
              <div class="col-md-3" >
                <input  name="group4" type="radio" id="radio_11" class="material-inputs radio-col-indigo" v-model="gn" checked="" value="光伏">
                <label for="radio_11">光伏</label>
              </div>
              <div class="col-md-3" >
                <input name="group4" type="radio" id="radio_8" class="material-inputs radio-col-pink" v-model="gn" value="汽车">
                <label for="radio_8">汽车</label>
              </div>
              <div class="col-md-3" >
                <input   name="group4" type="radio" id="radio_7" class="material-inputs radio-col-red" v-model="gn" value="锂电池">
                <label for="radio_7">锂电池</label>
              </div>

              <div class="col-md-3" >
                <input   name="group4" type="radio" id="radio_100" class="material-inputs radio-col-red"  v-model="gn" value="自选组" >
                <label for="radio_100">自选组</label>
              </div>
              <!--div class="col-md-3">
                <input name="group4" type="radio" id="radio_9" class="material-inputs radio-col-purple" disabled>
                <label for="radio_9" >高领持仓(无数据)</label>
              </div>
              <div class="col-md-3">
                <input name="group4" type="radio" id="radio_10" class="material-inputs radio-col-deep-purple" disabled>
                <label for="radio_10">社保基金持仓(无数据)</label>
              </div>

              <div class="col-md-3">
                <input name="group4" type="radio" id="radio_12" class="material-inputs radio-col-blue" disabled>
                <label for="radio_12">芯片下游(无数据)</label>
              </div>
              <div class="col-md-3">
                <input name="group4" type="radio" id="radio_13" class="material-inputs radio-col-light-blue" disabled>
                <label for="radio_13">游资短线(无数据)</label>
              </div>
              <div class="col-md-3">
                <input name="group4" type="radio" id="radio_14" class="material-inputs radio-col-cyan" disabled>
                <label for="radio_14">疫苗概念(无数据)</label>
              </div>
              <div class="col-md-3">
                <input name="group4" type="radio" id="radio_15" class="material-inputs radio-col-teal" disabled>
                <label for="radio_15">用户A精选(无数据)</label>
              </div>
              <div class="col-md-3">
                <input name="group4" type="radio" id="radio_16" class="material-inputs radio-col-green" disabled>
                <label for="radio_16">用户B精选(无数据)</label>
              </div-->
              
             
            </div>
         </div>
      </div> <!-- col-sm-12 -->




    </div> <!-- row -->
    <!-- ============================================================= -->
    <!-- End PAge Content -->
    <!-- ============================================================= -->

    <!--  ============================    -->
    <!-- 代码部分 -->
    <!-- ============================================================= -->
    <div class="col-lg-12">
        <div class="card">
          <div class="card-header bg-info">
            <h4 class="mb-0 text-white">自动翻译成程序</h4>
          </div>
          <form class="form-horizontal">
            <div class="form-body">

              <div class="card-body border-top">
                <textarea class="form-control" rows="10" v-model="sourcecode" ></textarea>
                
              </div>
              <hr>
              <div class="form-actions">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="row">
                        <div class="col-md-offset-3 col-md-16">
                          <!--alert toask-->
                          <div class="
                          alert
                          customize-alert
                          alert-dismissible
                          text-primary
                          border border-primary
                          fade
                          show
                          remove-close-icon
                        " role="alert" v-if="toask.state">
                        <button type="button" class="btn-close" @click="toaskclose" data-bs-dismiss="alert" aria-label="Close">
                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x fill-white text-primary feather-sm"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                        </button>
                        <div class="
                            d-flex
                            align-items-center
                            font-weight-medium
                            me-3 me-md-0
                          ">
                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-info text-primary feather-sm me-2 flex-shrink-0"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="16" x2="12" y2="12"></line><line x1="12" y1="8" x2="12" y2="8"></line></svg>
                          {{toask.content}}
                        </div>
                       </div> <!--alert-->


                          <button type="button" class="btn btn-danger" id="run" style="margin-right:10px;">
                            <i class="fa fa-pencil"></i> 开始计算
                          </button>
                          <button type="button" class="btn btn-dark">
                            重选
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6"></div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
    </div> 

    <!-- 代码结束 -->
    <!-- ============================================================= -->

  


    <!-- 股票测试结果开始-->
    <div class="table-responsive" v-if="info.alert">
      <div class="card">
        <div class="card-body">
         <div class="
                      alert
                      customize-alert
                      alert-dismissible
                      text-primary
                      border border-primary
                      fade
                      show
                      remove-close-icon
                    " role="alert">
                    <button type="button" class="btn-close" @click="alertclose" data-bs-dismiss="alert" aria-label="Close">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x fill-white text-primary feather-sm"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                    </button>
                    <div class="
                        d-flex
                        align-items-center
                        font-weight-medium
                        me-3 me-md-0
                      ">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-info text-primary feather-sm me-2 flex-shrink-0"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="16" x2="12" y2="12"></line><line x1="12" y1="8" x2="12" y2="8"></line></svg>
                      找到了0个股票,请更换组继续测试。
                    </div>
            </div> <!--alert-->
         </div>
         </div>
         </div>     


                
    <div class="table-responsive" v-if="result.length>0">
      <div class="card">
        <div class="card-body"> 
        
          <div class="row">
            <div class="col-md-6">
      
                  <div class="row">
                  <div class="col border-end text-center">
                    <h4 class="">需测试</h4>
                    <h6 class="text-muted">{{info.stocklength}}</h6>
                   </div>
                 
                   <div class="col border-end text-center">
                    <h4 class="">已完成</h4>
                    <h6 class="text-muted">{{info.curlength}}</h6>
                   </div>
                     
                   <div class="col text-center">
                    <h4 class="">成本</h4>
                    <h6 class="text-muted">{{info.cost}}</h6>
                   </div>
                  </div> 
      
               </div>
      
      
      
            <div class="col-md-6">
      
                  <div class="row">
                  <div class="col  border-end text-center">
                    <h4 class="">当前价值</h4>
                    <h6 class="text-muted">{{info.value}}</h6>
                  </div>
                             
                  <div class="col border-end text-center">
                    <h4 class="">百分比</h4>
                    <h6 class="text-muted">{{info.per}}%</h6>
                  </div>
          
                  <div class="col  text-center">
                    <h4 class="">显示详情</h4>
                   <div class="form-check form-switch" style="justify-content:center;align-items: center;display: flex;">
                    <label class="form-check-label" for="flexSwitchCheckChecked"></label>
                    <input class="form-check-input" type="checkbox" id="flexdetail" checked="" v-model="detail">
                   </div>
                  </div>
                </div>
      
            </div>  
      
          </div><!---row--->     

     <div class="table-responsive">
      <table class="
      table customize-table mb-0 v-middle text-nowrap">
        <thead>
          <tr>
            <th>股票代码</th>
            <th>股票名称</th>
            <th>交易日期</th>
            <th>交易类型</th>
            <th>交易价格</th>
            <th>当前总值</th>

          </tr>
        </thead>
        <tbody>
        <template v-if="detail">
         <tr role="row" v-for="item in result">
         
          <td ><a v-bind:href="'https://klang.org.cn/kline.html?code='+item.code" target=_blank>{{item.code}}</a></td>
          <td >{{item.name}}</td>
          <td >{{item.date}}</td>
          <td >{{item.flag}}</td>
          <td >{{item.price}}</td>          
          <td >{{item.value}}</td>
        
        </tr>
      </template>
      </tbody>
      </table>
      </div><!--table div -->
    </div>
   </div>
  </div> <!-- 股票结果表结束-->

  </div> <!--container-fluid-->



</div> <!--app-->
{% endblock %}


{% block extendjs %} 
<script>



   var hostname = window.location.hostname
   var host = window.location.host
     if (hostname == "" || hostname=="127.0.0.1" || hostname=="localhost"){
        hostname = "127.0.0.1"
        apihost = "http://127.0.0.1:1337"
        wshost = "ws://localhost:9088/user"
     } else {
        apihost = "//data.klang.org.cn"
        wshost = "wss://klang.org.cn:8099/user"
     }
   
      const VueApp = {
        data() {
            return {
                online:0,
                usercount:0,
                work:0,
                servers:[],
                gn:"锂电池",
                result:[],
                sourcecode:"",
                info:{code:"",name:"",
                  stocklength:0,
                  curlength:0,
                  cost:0,
                  value:0,
                  per:0,
                  tempcost:0,
                  alert:0,
                },
                toask:{
                  content:"",
                  state:0,
                },
                detail:0,
                strategy:[{title:'MACD初步策略',content:""},{title:"倍量柱买入法",content:''}],
                select_strategy:0,
                url:apihost+"/api/strategies?title=",

               
            }
        },
    
        created() {
            
        },

        async mounted () {
            var that = this
            var i ;
            var title = that.strategy[that.select_strategy].title;
            axios
                .get(that.url+title)
                .then(function(response){
                    console.log(response.data) 
                    content =  response.data[0].content
                    that.strategy[that.select_strategy].content = content
                    content1 = "codelist = get_gn('"+that.gn+"')"  + "\n"
                    that.sourcecode = content1 + content 
                })
            for (i = 0 ;i<that.strategy.length;i++){
              
              await axios
                .get(that.url+that.strategy[i].title)
                .then(function(response){
                  that.strategy[i].content = response.data[0].content
                })
            }
          
        },
        methods: {
          alertclose:function(){
            this.info.alert = 0
          },
          toaskclose:function(){
            this.toask.state = 0
          },
          gntosource:function(value){
            
            if  (value=="自选组"){
              content1 = "codelist=['sh.601012','sh.601669']\n"
            } else {
              content1 = "codelist = get_gn('"+value+"')"  + "\n"
            }
            return content1
          }
        },
        watch:{
          gn:function(value,old){
            var that = this
            
            content1 = that.gntosource(value)
            content = that.strategy[that.select_strategy].content 
            that.sourcecode = content1 + content 
          },
          select_strategy:function(value,old){
            var that = this
            content1= that.gntosource(that.gn)
            content = that.strategy[that.select_strategy].content 
            that.sourcecode = content1 + content 
          },

        }
      }//VueApp
      window.vue = Vue.createApp(VueApp).mount('#app')


      var run = document.querySelector('#run');
      var websocket;
      websocket = new WebSocket(wshost);
      vue.$data.online = 1

      function  webonmessage (event) {
                data = JSON.parse(event.data);
                //connstate.checked = true 
                console.log(data)
                switch (data.type) {
                    case 'U_RET':
                       
                        if (data.retcode=="ERROR"){
                            alert("系统正在执行其他任务，请稍等");
                        } 
                        if (data.retcode=="DISPLAY"){
                          code = vue.$data.info.code 
                          name = vue.$data.info.name
                          if (data.flag == "info"){ //开始发送股票信息
                            vue.$data.info.name = data.name
                            vue.$data.info.code = data.code.replace('.','')
                            
                          }
                          if (data.flag == "cost"){ //开始发送成本信息
                            value = data.value.toFixed(2)
                            vue.$data.result.push({code:code,name:name,flag:"成本",value:value,on:1})
                            vue.$data.info.tempcost = parseFloat(value) 
                          }
                          if (data.flag == "total"){ //完成后统计总信息
                            value = data.value.toFixed(2)
                            vue.$data.result.push({code:code,name:name,flag:"总计",value:value,on:1})
                            vue.$data.info.curlength += 1
                            cost = parseFloat(vue.$data.info.cost) + vue.$data.info.tempcost
                            vue.$data.info.cost = cost.toFixed(2)
                            value = parseFloat(vue.$data.info.value) + parseFloat(value)
                            vue.$data.info.value = value .toFixed(2)
                            vue.$data.info.per = ((value / cost ) * 100).toFixed(2)
                          }
                          if (data.flag == "buy"){
                            value = data.value.toFixed(2)
                            price = data.price.toFixed(2)
                            vue.$data.result.push({code:code,name:name,flag:"买",value:value,price:price,
                          date:data.date,on:0})
                          }
                          if (data.flag == "sell"){
                            value = data.value.toFixed(2)
                            price = data.price.toFixed(2)
                            vue.$data.result.push({code:code,name:name,flag:"卖",value:value,price:price,
                          date:data.date,on:0})
                          }
                          if(data.flag == "stocklength"){ //开始前发送要测试股票数
                            value = data.value
                            vue.$data.info.stocklength = value
                            if (value==0) vue.$data.info.alert = 1
                          }
                          break;
                        }  
                         
                        break;
                    case 'U_INFO':
                        vue.$data.usercount = data.users
                        vue.$data.online = 1
                        vue.$data.servers = data.servers
                        break;
                    case 'U_DONE':
                        vue.$data.work = 0
                        break;

                    default:
                        console.error(
                            "unsupported event", data);
                }
            };
      function webonclose (e) {
                    console.log('websocket 断开: ' + e.code + ' ' + e.reason + ' ' + e.wasClean)
                    vue.$data.online = 0
                    vue.$data.usercount = 0
                    
      }

      websocket.onclose = webonclose
      websocket.onmessage = webonmessage


      run.onclick = function (event) {
                console.log(vue.$data.online,websocket.readyState)
                if (vue.$data.work){
                  vue.$data.toask.content = "我在计算中，你别总点我"
                  vue.$data.toask.state = 1
                  return 
                }
                if (vue.$data.online == 0 || websocket.readyState == 3){
                  websocket = new WebSocket(wshost);
                  vue.$data.online = 1
                  vue.$data.toask.content = "正在重新连接服务器,约10秒后再试"
                  vue.$data.toask.state = 1
                  websocket.onclose = webonclose
                  websocket.onmessage = webonmessage
                  return 
                }
                if (websocket.readyState == 0){
                  vue.$data.toask.content = "正在连接服务器请稍后再测试"
                  vue.$data.toask.state = 1
                  return 
                }
                if (vue.$data.servers.indexOf(0) == -1){
                  vue.$data.toask.content = "没有空闲服务器请稍等"
                  vue.$data.toask.state = 1
                    return
                }


                vue.$data.result = []
                vue.$data.info = {code:"",name:"",
                  stocklength:0,
                  curlength:0,
                  cost:0,
                  value:0,
                  pre:0,
                  tempcost:0,
                  alert:0,
                }
                vue.$data.work = true
                websocket.send(JSON.stringify({type: 'U_EXE',content:vue.$data.sourcecode,stype:1,loop:true}));
      }

        

</script>
{%endblock%}