<!DOCTYPE html>
<html class="x-admin-sm">
    <head>
        <meta charset="UTF-8">
        <title>requests 详情页面</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <link rel="stylesheet" href="./css/font.css">
        <link rel="stylesheet" href="./css/xadmin.css">
        <script src="./lib/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" src="./js/xadmin.js"></script>
        <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
        <!--[if lt IE 9]>
          <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
          <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="layui-fluid" id="app">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-body ">
                            <blockquote class="layui-elem-quote">欢迎来宾：
                                <span class="x-red">您随便看看</span> 
                            </blockquote>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-header">请求详情</div>
                        <div class="layui-card-body ">
                            <table class="layui-table">
                                <tbody>
                                    <tr>
                                        <th>ID</th>
                                        <td>{{request.id}}</td></tr>
                                    <tr>
                                        <th>Method</th>
                                        <td>{{request.Method}}</td></tr>
                                    <tr>
                                        <th>RequestURI</th>
                                        <td>{{request.RequestURI}}</td></tr>
                                    <tr>
                                        <th>Proto</th>
                                        <td>{{request.Proto}}</td></tr>
                                    <tr>
                                        <th>SrcIp:Port</th>
                                        <td>{{request.SrcIp}}:{{request.SrcPort}}</td></tr>
                                    <tr>
                                        <th>DstIp:Port</th>
                                        <td>{{request.DstIp}}:{{request.DstPort}}</td></tr>
                                    <tr>
                                        <th>StatusCode</th>
                                        <td>{{request.StatusCode}}</td></tr>
                                    <tr>
                                        <th>DateTime</th>
                                        <td>{{request.created_at}}</td></tr>
                                </tbody>
                            </table>
                        </div>

                      <div class="layui-card-header">请求头</div>
                        <div class="layui-card-body ">
                            <table class="layui-table">
                                <tbody>
                                    <tr v-for="h in reqheader">
                                        <th>{{h.name}}</th>
                                        <td>{{h.values}}</td></tr>
                                </tbody>
                            </table>
                        </div>
                      <template v-if="form.length > 0">
                      <div class="layui-card-header">请求form</div>
                        <div class="layui-card-body ">
                            <table class="layui-table">
                                <tbody>
                                    <tr v-for="f in form">
                                        <th>{{f.name}}</th>
                                        <td>{{f.values}}</td></tr>
                                </tbody>
                            </table>
                        </div>
                      </template>



                    <div class="layui-card-header">回复头</div>
                        <div class="layui-card-body ">
                            <table class="layui-table">
                                <tbody>
                                    <tr v-for="h in respheader">
                                        <th>{{h.name}}</th>
                                        <td>{{h.values}}</td></tr>
                                </tbody>
                            </table>
                        </div>



                    </div>
                </div>
                <div class="layui-col-md12">
                </div>
            </div>
        </div>
        </div>
    </body>
 <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
 <script src="https://unpkg.com/vue@next"></script>

  <script>
    function getUrlParam(name){

            var reg=new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
            var r= window.location.search.substr(1).match(reg);

            if(r != null) {
                return unescape(r[2]);
            }
            return null;
    }

    const VueApp = {
      data() {
        return {
        id:"",
        request:"",
        response:"",
        reqheader:[],
        respheader:[],
        form:[],
        }
      },
    
      created() {
      that = this
      that.id = getUrlParam('id')
      if (that.id==null){
        return
      }
       axios.get('/requests/'+that.id)
        .then(function (data) {
            that.request = data.data
        })

       axios.get('/headers/?request='+that.id)
        .then(function (data) {
            that.reqheader = data.data
        })

       axios.get('/forms/?request='+that.id)
        .then(function (data) {
            that.form = data.data
        })

      axios.get('/responses/?request='+that.id)
        .then(function (data) {
            that.response = data.data[0]

            axios.get('/headers/?response='+that.response.id)
                .then(function (data) {
                that.respheader = data.data
            })
        })
          
     },
      methods: {
        // These methods won't trigger a watcher because we changed only a property of Object/Array,
        // not the Object/Array itself
        changeArticleText() {
        this.article.text = 'Vue 3 is awesome'
        }
      }
    }
    Vue.createApp(VueApp).mount('#app')



</script>

</html>
